* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* -------------------------------------------- mobile view -------------------------------------------------- */
@media only screen and (max-width: 770px) {

} 

/* -------------------------------------------- tablet view -------------------------------------------------- */
@media only screen and (min-width: 770px) {
        
} 


/* -------------------------------------------- desktop view ----------------------------------------------- */
@media only screen and (min-width: 1000px){
        
}

/* -------------------------------------------- Outside media queries ----------------------------------------------- */
body{
  background-color: black;
  color: aliceblue;
}
.service-section{
  background-color: gray;
}
button{
  background-color: lightblue;
}
a{
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
button{
  cursor: pointer;
}
