/* for mobile view */
@media only screen and (max-width: 1000px) {
  /* top section and header */
  #toad {
    font-size: 40px;
  }
  #header {
    font-size: 20px;
  }
  #top p {
    font-size: 18px;
    margin: auto 45% 5% 5%;
  }
  #call {
    font-size: 25px;
    margin: auto auto 5% 5%;
    padding-top: 2%;
  }
  #top .help {
    font-size: 20px;
  }
  /* ------------------------------------------------ */
  /* service section */
  #services {
    font-size: 25px;
    padding-top: 5%;
  }
  

  #logo img {
    width: 100px;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  #seo img {
    width: 100px;
    margin-top: 5%;
  }
  #website img {
    width: 100px;
    margin-top: 5%;
  }
  #seo,
  #website,
  #logo{
  position: relative;
  text-align: center;
  
}
.job{
  color: #D65F1C;
  position: absolute;
  top: 20px;
  left: 100px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
}
  /* ------------------------------------------------ */
  /* Client Section */
  /* carousel section */
    /* Slideshow container */
.slideshow-container {
  display: block;
  max-width: 100%;
  position: relative;

  margin: 10% 30% 10% 20%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: -30%;
  border-radius: 10px;
}
.prev{
 right: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #D65F1C;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #D65F1C;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
  
  /* ------------------------------------------------ */
  /* Team Section */
  #ours{
    display: block;
  }
  #ours img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-top: 5%;
  }
  #devina,
  #will,
  #magen {
  position: relative;
  text-align: right;
}


.name {
  position: absolute;
  bottom: 32px;
  right: 170px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 30px;
}
#will .name{
  right: 140px;
}
.title {
  position: absolute;
  bottom: 50px;
  right: 6px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}
/* ----------------------------------------------------- */

}
/* ------------------------------------------------------------------------------------------------------------- */
/* for desktop view */
@media only screen and (min-width: 1000px) {
  /* top section and header */
  #toad {
    font-size: 60px;
  }
  #top p {
    font-size: 25px;
    margin: 0% 0% 5% 0%;
    padding-top: 4%;
  }
  #call {
    /* font-size: 50px; */
    padding-top: 5%;
    margin: auto auto auto 5%;
  }
  #top .help {
    font-size: 28px;
  }
  /* ------------------------------------------------- */
  /* service section */
  #services {
    font-size: 30px;
  }
  #offers {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 25px;
  }
  #website{
    margin: 2% 5% auto 5%;
  }
  #website img{
    width: 150px;
  }
  #logo img{
    width: 120px;
  }
  
  #logo {
    margin: 2% 5% auto 5%;
    padding-top: 1%;
  }
  #logo2 {
    margin-bottom: 8%;
  }
  #seo img{
    width: 150px;
  }
  #seo {
    margin: 2% 5% auto 5%;
    
  }
  #seo2{
    padding-top: 6%;
  }
  #seo,
  #website,
  #logo{
  position: relative;
  text-align: center;
  
}
.job{
  color: #D65F1C;
  position: absolute;
  top: 20px;
  left: 20px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
}
  /* ---------------------------------------------------- */
  /* clients section */
  #business {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    /* margin-bottom: 10%; */
  }
  .prev, 
  .next,
  .dots{
    display: none;
  }
  /* ----------------------------------------------------- */
  /* Team section */
  #ours {
    display: flex;
    justify-content: space-evenly;
  }
  #ours img {
    /* width: 300px; */
    width: 300px;
    height: 300px;
  }
  #devina,
  #will,
  #magen {
  position: relative;
  text-align: right;
}

.name {
  position: absolute;
  bottom: 110px;
  right: 6px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}
.title {
  position: absolute;
  bottom: -20px;
  right: 6px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  word-break: normal;
}
}
/* --------------------------------------------------------------------------------------------------------------- */
*{
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: black;
  font-family: "Asap", sans-serif;
}
h1{
  font-weight: lighter;
}
h2{
  font-weight: lighter;
}
button {
  cursor: pointer;
}
/* ---------------------------------------------------------------- */
/* styles for the top section with co.name */
#coname {
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
}
#header {
  margin: auto auto auto 5%;
}

#links {
  margin: 2% 5% 2% auto;
}

/* ------------------------------------------------------------------- */
/* styles for top section */
#top {
  background-image: url(./images/topimage.png);
  background-size: 100%;
  background-position: left;
  margin: 0;
  background-repeat: no-repeat;
  height: 80vh;
}

#top .help {
  background-color: #920911;
  color: #ffffff;
  padding: 1% 2%;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto auto 5% 6.2%;
}

/* --------------------------------------------------------------------- */
/* styles for services */
#services {
  text-align: center;
  margin-top: 10%;
}

#website:hover .overlay2 {
  opacity: 1;
}
#logo:hover .overlay2 {
  opacity: 1;
}
#seo:hover .overlay2{
  opacity: 1;
}
/* having an issue with this section. it wont lay over the image like the team section */
.overlay2 {

  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D65F1C;
  margin-left: 25%;
}




/* -------------------------------------------------------------------------- */
/* styles for clients */
#clients {
  text-align: center;
}
#clientTop {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 30px;
}
#clientTop img {
  margin-top: 2%;
}

#business img {
  width: 250px;
}

#security,
#nathan,
#gilbert,
#bleu {
  position: relative;
  text-align: right;
}
.coname {
  position: absolute;
  bottom: -10px;
  right: 10px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  color: #ffffff;
}


/* ----------------------------------------------------------------------------------- */
/* styles for team  */
#team {
  text-align: center;
  margin-top: 20%;
}
#team h1 {
  margin-bottom: 10%;
  font-size: 50px;
}
#ours img{
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D65F1C;
}

#devina:hover .overlay {
  opacity: 1;
}
#will:hover .overlay {
  opacity: 1;
}
#magen:hover .overlay {
  opacity: 1;
}

 .text {
  color: white;
  font-size: 18px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
  margin: 0;
  padding: 20px;
} 

.circle{
  color: #D65F1C;
  position: absolute;
  top: 20px;
  left: 30px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
}


/* --------------------------------------------------------------------------------- */
/* styles for contact */

#contact h2 {
  font-size: 60px;
  margin: 10% auto auto 5%;
}
#contact .help {
  background-color: #920911;
  color: #ffffff;
  padding: 1%;
  font-size: 25px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto auto auto 75%;
}

.contact p {
  font-size: 20px;
  margin: auto auto auto 5%;
}
.location {
  margin: auto auto 5% 5%;
}
.phone {
  margin: 5% auto auto 5%;
  padding-bottom: 5%;
}
