* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for mobile view */
@media only screen and (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
  }
  /* top section and header */
  #coname {
    width: 100%;
  }
  #toad {
    font-size: 30px;
  }
  #header {
    font-size: 14px;
    width: 75%;
  }
  #links{
    margin: auto;
    padding-top: 8px;
    display: flex;
  }
  #links a {
    padding: 4px;
  }
  #phone{
    padding-bottom: 5px;
    width: 25px;
  }
  #fb{
    width: 30px;
  }

  #call {
    margin: 0;
    padding: 5%;
    width: 75%;
    font-size: 12px;
    line-height: 1.2em;
  }

  #top .help {
    font-size: 12px;
    border-radius: 5px;
    border-color: transparent;
    padding: 1% 2%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  /* ------------------------------------------------ */
  /* service section */
  #services {
    display: block;
  }

  #services h2 {
    font-size: 25px;
    padding-top: 5%;
  }

  #logo p,
  #seo p,
  #website p {
    font-size: 15px;
    padding: 10px;
  }

  #logo img {
    width: 60px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  #seo img {
    width: 70px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  #website img {
    width: 60px;
    margin-top: 5%;
  }
  #seo,
  #website,
  #logo {
    position: relative;
    text-align: center;
    width: 250px;
    margin-top: 10%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay2 {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d65f1c;
    z-index: 1;
    cursor: pointer;
  }

  #website:hover .overlay2 {
  bottom: 0;
  height: 130%;
}
#logo:hover .overlay2 {
  bottom: 0;
  height: 105%;
}
#seo:hover .overlay2 {
  bottom: 0;
  height: 120%;
}
  .job {
    color: #d65f1c;
    position: absolute;
    top: 0px;
    left: 35px;
    text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
    font-size: 20px;
  }

  #offers .text {
    justify-items: center;
    align-items: center;
    text-indent: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    color: white;
    background-color: #d65f1c;
    padding: 15px;
    margin: 0%;
    /* height: 150%;
    width: 100%; */
    text-align: left;
  }
  #logo .text {
    padding-top: 15px;
  }
  #seo .text {
    /* padding-top: 10%; */
  }

  /* ------------------------------------------------ */
  /* Client Section */

  #clientTop {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #clientTop h2 {
    font-size: 25px;
    padding-top: 8%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #clientTop img {
    /* padding-top: 2%; */
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    align-items: center;
  }
  #security {
    padding-right: 10px;
  }
  #security .coname {
    padding-right: 5px;
  }
  /* carousel section */
  /* Slideshow container */
  .slideshow-container {
    display: block;
    max-width: 100%;
    position: relative;
    /* margin: 10% 25% 10% 25%; */
  }
  #business {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  #business img {
    width: 250px;
    height: 200px;
  }
  .next {
    right: 10%;
    border-radius: 10px;
    bottom: 40%;
  }
  .prev {
    right: 80%;
    bottom: 40%;
  }

  /* ------------------------------------------------ */
  /* Team Section */
  #ours {
    display: block;
  }
  #team h2 {
    font-size: 25px;
    margin-top: 40%;
    margin-bottom: 20%;
  }
  #ours img {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  #devina,
  #will,
  #magen {
    position: relative;
    /* text-align: right; */
  }

  .name {
    /* display: inline-flex; */
    position: absolute;
    bottom: 15px;
    right: 210px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 35px;
  }
  /* #will .name {
    right: 160px;
  } */

  .title {
    position: absolute;
    bottom: -65px;
    right: 6px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 28px;
  }
  .text1 {
    color: white;
    font-size: 17px;
    text-align: left;
    text-indent: 20px;
    margin-top: 3px;
    padding: 5px 15px;
  }
  .text2 {
    font-size: 17px;
    text-align: left;
    text-indent: 20px;
    padding: 5px 15px;
  }
  /* ----------------------------------------------------- */
  /* styles for contact */
  #contact h2 {
    font-weight: 500;
    font-size: 33px;
    margin: 10% auto auto 5%;
  }
  .contact p {
    font-size: 15px;
    margin: auto auto auto 5%;
  }

  #contact .help {
    font-size: 12px;
    padding: 1% 2%;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .location {
    margin: auto auto 5% 5%;
    font-size: smaller;
  }

  .social {
    margin: 5% auto auto 5%;
  }
  .social a{
    padding: 5px;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */
/* for desktop view */
@media only screen and (min-width: 1000px) {
  /* top section and header */
  #toad {
    font-size: 60px;
    font-weight: 500;
  }
  #header h1{
    font-weight: 400;
  }

  #links a{
    padding: 10px;
  }
  
  #top p {
    font-size: 21px;
    font-weight: lighter;
    margin: 0% 0% 5% 0%;
    padding-top: 4%;
  }
  #call {
    /* font-size: 50px; */
    padding-top: 5%;
    margin: auto auto auto 5%;
    width: 100%;
  }
  
  #top .help {
    font-size: 18px;
    font-weight: lighter;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto auto 5% 5%;
  }
  /* ------------------------------------------------- */
  /* service section */
  #services {
    font-size: 25px;
  }
  #offers {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 20px;
  }

  #offers p {
    margin-top: 20%;
  }
  #offers .text {
    margin: 0;
    text-align: left;
    text-indent: 20px;
    font-size: 20px;
    /* padding: 1%; */
    color: white;
    margin-top: 10%;
    padding: 20px;
  }

  #website {
    margin: 2% 5% auto 7%;
  }
  #website img {
    width: 100px;
  }
  #logo img {
    width: 100px;
  }

  #logo {
    margin: 2% 5% auto 5%;
  }
  #logo .text{
    margin-top: 60px;
  }
  #seo .text{
    margin-top: 55px;
  }

  #seo img {
    width: 110px;
  }
  #seo {
    margin: 2% 5% auto 5%;
  }

  #website:hover .overlay2 {
    bottom: 0;
    height: 100%;
  }
  #logo:hover .overlay2 {
    bottom: 0;
    height: 100%;
  }
  #seo:hover .overlay2 {
    bottom: 0;
    height: 100%;
  }

  #seo,
  #website,
  #logo {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
    padding: 5%;
  }
  .job {
    color: #d65f1c;
    position: absolute;
    top: 70px;
    left: 25px;
    text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
    font-size: 35px;
  }

  /* ---------------------------------------------------- */
  /* clients section */
  #clientTop {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 25px;
  }

  #clientTop img {
    width: 43px;
    height: 46px;
    margin-top: 45px;
    padding-top: 10px;
  }

  #clients {
    text-align: center;
    margin-top: -60px;
  }

  #security {
    padding-right: 25px;
  }
  #security .coname {
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .slideshow-container {
    display: block;
    max-width: 100%;
    position: relative;
    /* margin: 10% 25% 10% 25%; */
  }

  #business {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: -2px; */
    margin-bottom: 5%;
  }
  #business img {
    width: 450px;
    height: 350px;
  }

  .next {
    right: 20%;
    border-radius: 10px;
    bottom: 40%;
  }
  .prev {
    right: 75%;
    bottom: 40%;
  }

  /* ----------------------------------------------------- */
  /* Team section */
  #team h2 {
    margin-bottom: 10%;
    font-size: 40px;
  }

  #ours {
    display: flex;
  }
  #ours img {
    justify-content: space-evenly;
    padding: 1%;
  }

  #devina img {
    width: 100%;
    height: 550px;
    /* height: 80vh; */
  }
  #will img {
    width: 100%;
    height: 550px;
    /* height: 100%; */
  }
  #magen img {
    width: 100%;
    height: 550px;
    /* height: 100%; */
  }
  #devina,
  #will,
  #magen {
    position: relative;
    text-align: right;
  }

  .name {
    position: absolute;
    bottom: 90px;
    right: 6px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    margin: 0;
    padding: 2%;
  }
  .title {
    position: absolute;
    bottom: -20px;
    right: 6px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    word-break: normal;
    margin: 0;
    padding: 2%;
  }
  #team .text1 {
    color: white;
    font-size: 25px;
    text-align: left;
    text-indent: 20px;
    margin-top: 20%;
    margin-bottom: -60px;
    padding: 35px;
  }
  #team .text2 {
    color: white;
    font-size: 25px;
    text-align: left;
    text-indent: 20px;
    margin-top: 5%;
    margin-bottom: -60px;
    padding: 35px;
  }

  /*------------Contact section---------------*/
  #contact h2 {
    font-weight: 500;
    font-size: 60px;
    margin: auto auto auto 5%;
  }
  .contact p {
    font-size: 25px;
    margin: auto auto auto 5%;
  }

  #contact .help {
    font-size: 25px;
    font-weight: lighter;
    padding: 10px 15px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto auto 5% 5%;
  }

  .location {
    margin: auto auto 5% 5%;
    font-size: large;
  }

  .social {
    display: flex;
    margin: 5% auto auto 4%;
  }
  .social a{
    padding: 15px;
  }
  #phone {
    width: 35px;
    padding-bottom: 5px;
  }
#fb{
  width: 40px;
}
}
/* --------------------------------------------------------------------------------------------------------------- */
/* outside of media queries */
body {
  color: #ffffff;
  background-color: black;
  font-family: 'Asap', sans-serif;
}
h1 {
  font-weight: lighter;
}
h2 {
  font-weight: lighter;
}
button {
  cursor: pointer;
}
/* ---------------------------------------------------------------- */
/* styles for the top section with co.name */
#coname {
  display: flex;
  justify-content: space-between;
}
#header {
  margin: auto auto auto 5%;
  font-weight: 100;
}

#links {
  margin: 2% 5% 1% auto;
}

/* ------------------------------------------------------------------- */
/* styles for top section */
#top {
  background-image: url(./images/topimage.png);
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
}

#top .help {
  background-color: #920911;
  color: #ffffff;
}


/* --------------------------------------------------------------------- */
/* styles for services */
#services {
  text-align: center;
  margin-top: 10%;
}

/* having an issue with this section. it wont lay over the image like the team section */
.overlay2 {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: 0.5s ease;
  background-color: #d65f1c;
  /* margin-left: 25%; */
}

/* -------------------------------------------------------------------------- */
/* styles for clients */

/* #clientTop h2 {
  padding-bottom: 2%;
} */
/* #clientTop img {
  margin-top: 2%;
} */

#security,
#nathan,
#gilbert,
#bleu, 
#glenview {
  position: relative;
  text-align: right;
}
.coname {
  position: absolute;
  bottom: 30px;
  right: 10px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
  color: #ffffff;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #d65f1c;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #d65f1c;
}

.progress {
  text-align: center;
  font-size: 25px;
  color: #d65f1c;
}

/* ----------------------------------------------------------------------------------- */
/*styles for team  */
#team {
  text-align: center;
  margin-top: 20%;
}

.overlay {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s ease;
  background-color: #d65f1c;
 height: 100%;
 width: 100%;
 -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 1.0s ease;
  transition: 1.0s ease;
}

#devina:hover .overlay {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#will:hover .overlay {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#magen:hover .overlay {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.circle {
  color: #d65f1c;
  position: absolute;
  top: 20px;
  left: 30px;
  text-shadow: -14px 11px 10px rgba(0, 0, 0, 0.25);
  font-size: 35px;
}

/* --------------------------------------------------------------------------------- */
/* styles for contact */

#contact {
  padding-top: 20%;
  margin-bottom: 10px;
}
#contact .help {
  background-color: #920911;
  color: #ffffff;
  margin: auto auto auto 75%;
}
